html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
}

header nav {
  display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

header nav ul a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.Landing {
  display: grid;
  background-color: #495E57;
  grid-template-columns: 50% 50%;
}

.Landing .firstdiv {
  margin-left: 40px;
    width: 70%;
    color: white;
}
 
.Landing .firstdiv h2 {
  color: #f4ce14;
}

.Landing .firstdiv h4 {
  font-weight: 400;
}

.Landing .firstdiv p {
  font-weight: 100;
}

.Landing .firstdiv a {
  width: 200px;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: #f4ce14;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  cursor: pointer;
}

.Landing .firstdiv a:hover,
.Specials .specials-heading button:hover {
  box-shadow:  -2px 3px 20px 12px #28ba89 ;
}

.Landing .seconddiv img {
  width: 367px;
    height: 325px;
    position: relative;
    top: 5rem;
}

@media (max-width: 768px) {
  .Landing {
    grid-template-columns: 100%;
  }
  .Landing .seconddiv {
    display: none;
  }
  .Landing .firstdiv button {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.Specials {
  margin-top: 150px;
  margin-bottom: 100px;
}

.Specials .specials-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.Specials .specials-heading h2 {
    font-weight: 400;
    font-size: 27px;
}

.Specials .specials-heading button {
    width: 200px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #f4ce14;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
}

.Specials .card-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(3,300px);
}

@media(max-width: 768px) {
  .Specials .card-container {
    grid-template-columns: 300px;
  }
}

.Specials .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    height: 445px;
    position: relative;
}

.Specials .card img {
  width: 100%;
  border-radius: 10px;
}

.Specials .card .card-head-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  align-items: center;
  margin-left: 10px;
}

.Specials .card .card-head-and-price span {
  color: #f4ce14;
}

.Specials .card .desc {
  margin: 0;
  margin-bottom: 55px;
  padding: 0 10px 0 10px;
  font-weight: 100;
}

.Specials .card .order {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-weight: 700;
}

.Testimonials {
  margin-top: 150px;
  text-align: center;
}

.Testimonials .testi-con {
  display: grid;
    grid-template-columns: repeat(4,200px);
    height: 200px;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.booking-form {
    display: grid;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.booking-form input,
.booking-form select {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  border: 1px solid gray;
}

.booking-form input[type=submit] {
  background-color: #f4ce14;
  color: black;
  font-weight: 600;
}

.booking-form input[type=submit]:hover {
  box-shadow: -1px 0px 20px 8px #28ba89;
  cursor: pointer;
  border: none;
}

.confirmed {
  text-align: center;
  margin-top: 100px;
}


footer {
  display: flex;
    justify-content: start;
    flex-flow: row wrap;
    gap: 5rem;
    margin-top: 100px;
}

footer article:first-of-type ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer article:first-of-type ul a {
  text-decoration: none;
  color: black;
}

footer article:first-of-type ul a:hover {
  text-decoration: underline;
  color: #f4ce14;
}

.About {
  display: grid;
    grid-template-columns: 45% 45%;
    gap: 25px;
    justify-content: center;
}

.About div:first-child {
  text-align: center;
}

.booking-form .choose-date {
  margin-top: 10px;
  display: block;
  color: red;
}